/* styles/globals.css */
@import './variables.css';

/* Reset & base styles */
/* Base reset */
body {
  font-family: var(--font-family-base);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}